body {
  margin: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 60px;

  font-family: 'Roboto Mono', monospace;
  color: white;
}

section {
  padding: 30px;
}
